<!-- Dongxu Xia, Zhaoning Li, Sahir Prajapati -->
<!-- 8886742 / 8913790 / 8887839 -->

<!-- footer component -->
<footer class="border-top">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="small text-center text-muted fst-italic">
          <div class="font-size-controls" style="display: flex; gap: 10px;margin-left: 20%;">
            <h2>Accessibility Setting: </h2>
            <button id="minusButton" class="btn btn-secondary" onclick="changeFontSize(-1)" style="padding: 20px;height: 20px;">-</button>
            <button id="plusButton" class="btn btn-secondary" onclick="changeFontSize(0.5)" style="padding: 20px;height: 20px;">+</button>
          </div>
          <br/>
          Copyright &copy; DB Group - Three pointers / 2023
          <br/>8886742 / 8913790 / 8887839
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/js/changeFontSize.js"></script>
