<header class="masthead" style="background-image: url('/imgs/main-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>DoughDash</h1>
          <span class="subheading">Fast pizza delivery</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="img-wrapper">
  <h2 class="mt-4 mb-4">Pizza Orders</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Title</th>
        <th>Description</th>
        <th>Size</th>
        <th>Topping</th>
        <th>Price</th>
        <th>Modify</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="pizza2.jpg" alt="Pizza 2" class="img-thumbnail" style="width: 100px" /></td>
        <td>Pizza 2</td>
        <td>Description</td>
        <td>Midium</td>
        <td></td>
        <td>$20.00</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Hi</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Hello, world! This is a toast message.</div>
  </div>
</div>

<script src="/js/orders.js"></script>
<link rel="stylesheet" href="./css/orders.css" />
